.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 1000;
}

.header .wrap {
  /* overflow: hidden; */
  height: 100%;
  line-height: 60px;
}

.header .wrap .header-logo {
  color: #27AEC2;
}
.header .wrap .header-logo img{
  width: 200px;
  vertical-align: middle;
}
.header .wrap .header-nav {
  /* overflow: hidden; */
  height: 100px;
  height: 100%;
}

.header .wrap .header-nav li {
  margin-left: 30px;
  position: relative;
  z-index: 100000;
}
.header .wrap .header-nav li .course-nav{
  position: absolute;
  top: 50px;
  left: -15px;
  width: 100px;
  background-color: #fff;
  z-index: 100000;
  display: none;
}
.header .wrap .header-nav li .course-nav a{
  display: block;
  line-height: 50px;
  text-align: center;
  width: 100%;
  color: #919191;
}
.header .wrap .header-nav li .course-nav a:hover{
  background-color: #dfdfdf;
}
.header .wrap .header-nav li>a {  
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #919191;
}
.header .wrap .header-nav li a:hover{
  color: #27AEC2;
  transition: ease-in-out .5s;
}
.header .wrap .header-nav li a.on {
  color: #27AEC2;
  border-bottom: 2px solid #27AEC2;
}
.course-nav{
  display: block
}


.header .wrap .header-right {
  overflow: hidden;
  height: 100%;

  font-size: 14px;
  color: #333333;
}
.header .wrap .header-right span{
  margin-right: 20px;
}
.header .wrap .header-right .login>a {
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 36px;
  text-align: center;

  font-size: 14px;
  color: #333333;
}
.header .wrap .header-right .header-zhuce {
  color: #fff !important;
  background-color: #27AEC2;
  border-radius: 5px;
}
.login{
  overflow: hidden;
  height: 100%;
}
.login .sign a{

  font-size: 14px;
  color: #333333;
}
/* 底部 */
.footer{
  width: 100%;
  background-color: #292B32;
  padding: 62px 0 67px 0;
}
.footer .wrap>div{
  padding: 15px 0;
}
.footer span{

  font-size: 14px;
  color: #FFFFFF;
  margin-right: 50px;
}
.footer a{

  font-size: 14px;
  color: #A5A5A5;
  margin-right: 39px;
}