html {
    font-family: "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", "Arial", "sans-serif";
    -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
    outline: none;
}

li {
    list-style: none
}

a {
    background-color: transparent;
    text-decoration: none
}

input {
    outline: 0
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a:hover {
    opacity: .8;
    transition: all .3s cubic-bezier(.645, .045, .355, 1)
}
input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}